* {
  padding: 0px;
  margin: 0px;
}
.container {
  border: 1px solid;
  width: 100%;
}
.kotak {
  width: 50%;
  background-color: rgb(70, 189, 94);
  /* background-image: url(img/gambar.png); */
  /* elemnt berada ditengah */
  /* margin: auto; */
  /* 20px atas dan bawah 10 px kiri dan kanan*/
  margin: 20px 10px;
  padding: 20px 15px;
  border-radius: 10px;
}
