.capital {
  text-transform: capitalize;
}
.uppercase {
  text-transform: uppercase;
  text-align: justify;
}
.lowercase {
  text-transform: lowercase;
}

h1 {
  text-align: center;
}
h2 {
  text-align: right;
}

/* untuk mengatur jarak spasi antar baris gunakan line-height */
.p1 {
  line-height: 40px;
}
/* untuk mengatur baris pertama atau indentasi */
.p2 {
  text-indent: 30px;
}
